<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="spring-dao.xml"/>

    <bean id="loginService" class="org.ardlema.services.LoginServiceImpl">
       <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="recetaService" class="org.ardlema.services.RecetaServiceImpl">
        <property name="recetaDao" ref="recetaDao"/>
    </bean>



</beans>